[phases.setup]
nixPkgs = ["php82", "php82Packages.composer"]

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader --no-interaction --prefer-dist",
  "composer dump-autoload --optimize --no-dev --classmap-authoritative"
]

[start]
cmd = "php -S 0.0.0.0:$PORT -t public"
